@import 'variables.scss';

.tables > div {
  display: inline-block;
  margin: auto;
  height: 120px;
  width: 30%;
  background-color: $color-yellow;
  border: 3px white solid;
  padding: 10px;
}

h1 {
  font-family: Lucida Bright;
  color: $color-green;
}
