.tab-nav {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.tab-nav-item {
  flex-grow: 1;
  border-width: 1rem;
  text-align: center;
  border: solid lightseagreen;
  padding: 0.5rem;
}

.active.tab-nav-item {
  background-color: lightseagreen;
}

.tab-nav-link {
  display: block;
  outline: none;
  color: #444444;
}

.tab-nav-link:hover {
  color: lightseagreen;
  text-decoration: none;
}

.active.tab-nav-item .tab-nav-link {
  color: white;
}
