@import 'variables.scss';
@import 'bootstrap/scss/bootstrap-grid.scss';

#menu-card-nav > .navbar-nav {
  flex-wrap: wrap;
  white-space: nowrap;

  .nav-item.nav-link {
    cursor: pointer;

    &.active {
      color: $color-green;
      font-weight: 600;
    }
  }
}

#menu-card .card-img-left {
  flex-shrink: 0;
  min-height: 6rem;
  min-width: 6rem;
  width: 25%;
  height: auto;
  max-height: 95%;
  margin: auto;
  object-fit: cover;
}

@include media-breakpoint-down(xs) {
  #menu-card .card-img-left {
    width: 45%;
    max-width: 95%;
    max-height: 45%;
  }
}
