.signin {
  width: 30%;
  margin: auto;
  color: #555; }

h2 {
  text-align: center; }

.nav-link {
  font-weight: 600;
  color: black; }

.nav-link:hover {
  color: #1DB7A8; }

.btn-primary {
  background-color: #1DB7A8;
  border-color: #1DB7A8; }

.btn-primary:hover {
  background-color: #E7D567;
  border-color: #E7D567;
  color: #1DB7A8; }

.card-body {
  color: #555; }

.navbar {
  padding-top: 30px;
  padding-bottom: 50px; }
