@import 'variables.scss';

h1 {
  text-align: center;
}

#container {
  display: flex;
  justify-content: space-between;
}

.tab-content {
  padding: 0.5rem;
}

#menuOptions {
  min-width: calc(100% * 2 / 3);
  flex-grow: 2;
}

#liveOrder {
  flex-grow: 1;
}

#menu {
  display: flex;
  flex-direction: column;
}

#liveOrder button {
  background-color: $color-green;
  color: white;
}

.orderLine {
  display: flex;
  align-items: center;
}

.btn-sm {
  min-width: 1.1rem;
  min-height: 1.1rem;
  font-size: .5rem;
  font-weight: bold;
  text-align: center;
  padding: 0rem .125rem;
}

#orderNow {
  display: block;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  #container {
    flex-direction: column;
  }

  #menuOptions {
    order: 2;
  }

  #liveOrder {
    order: 1;
  }
}