header > h1 {
  text-align: center;
}

.history {
  border-spacing: 0 0.5em;
  width: 100%;
}

.history th,
.history td {
  text-align: left;
  padding: 0.5em;
}

.history td {
  background-color: lightgray;
}
